@{
    ViewBag.Title = "¿Quienes somos?";
}
<h2>@ViewBag.Title.</h2>
<p> 
    Somos una empresa inglesa Flowers & Bushes, que se dedica a la construcción de jardines,Nuestra empresa brinda soluciones profesionales para todo lo relacionado con diseño, suministro, instalación y mantenimiento de material vegetal, sistemas de riego, cubiertas verdes, jardines verticales y,
     en términos generales, todo lo relacionado con la construcción del paisaje. Somos una empresa tecnificada con altos estándares de calidad que garantizan nuestros productos vegetales y ornamentales.
</p>


<div class="row">
    <div class="col-md-4" >
        <h2 class ="text-danger">Misión</h2>
        <p>
            En Flowers And Bushes. buscamos estimular la apropiación de todos los espacios verdes y los elementos vegetales que hacen parte de la imagen paisajística de la ciudad. Nuestra empresa tiene la misión contribuir a la recuperación y al mejoramiento de la calidad ambiental y la percepción espacial, a través del diseño, la construcción y el mantenimiento de nuevos lugares de esparcimiento. De esta manera, podremos recuperar, desde los espacios privados, la noción y el sentido de pertenencia por los espacios públicos.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-danger">Visión</h2>
        <p2>
            Buscamos ser líderes en el diseño y mantenimiento de material vegetal y en todas las áreas relacionadas con el paisajismo y la jardinería profesional.
            Este liderazgo lo alcanzaremos siendo una empresa totalmente tecnificada, con personal experimentado y capacitado,
            trabajando de acuerdo con los lineamientos y las normas de una ciudad ambientalmente frágil que exige apropiación por parte de sus habitantes para recuperar,
            preservar y mantener el material vegetal existente en Bogotá.
        </p2>
        
    </div>
    <div class="col-md-4">
        <h2 class="text-danger">Política de calidad</h2>
        <p>
            Para Flowers and Bushes es una prioridad satisfacer todas las necesidades de nuestros clientes al llenar por completo sus expectativas.
            Nuestra política de calidad se aplica para todos los procesos técnicos que ejecutamos en cada servicio que prestamos, así como en los productos vegetales y ornamentales que producimos y comercializamos.
            ¡Nuestra política de calidad es garantizar la satisfacción total de nuestros clientes!
        </p>
        <p>
    </div>
</div>