@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>



<address>
    

    <b>FLOWERS AND BUSHES</b><br />
    Medellin - Antioquia<br />
    <a title="Phone">Teléfonos:</a>
    3456767
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@flowersandbushes.com">Support@flowersandbushes.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@flowerandbushes.com">Marketing@flowersandbushes.com</a>
</address>