@{
    ViewBag.Title = "Home Page";
}




<div class="col-xs-8">

    <center>
        </a> <img src="https://image.ibb.co/eiOFqb/logo.jpg" alt="logo" border="0"></a> 
     <center>

            <h1 class="text-danger">¡Bienvenido!</h1>
            <p>
                Te invitamos a conocer nuestra empresa, nuestros productos, servicios y el capital humano con el que contamos.
                <br />
                Esperamos poderte brindar soluciones integrales, efectivas y económicas de acuerdo a tus necesidades.
                Además, queremos que encuentres en nuestro sitio web lo que buscas: todo lo necesario para la construcción del paisaje y la jardinería profesional.
                <br />
                ¡Asesórate! Contamos con un gran equipo de profesionales que atenderá tus solicitudes eficientemente.
            </p>
</div>
